.App {
  text-align: left;
}
.container{
  padding: 0 1rem;
}

.btn:hover {
  background: #33aaaa !important;
}
.rutas{
  text-decoration: none;
  color: #f3f3f3;
}
.rutas:hover{
  color: #d3d3d3;
  text-shadow: -1px -1px #fff;
}
